# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and Databases
*.log
*.sqlite3

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Miscellaneous
*.bak
*.swp
*.tmp
.DS_Store